.nav-tag {
  padding-right: 30px;
}

.tag-notif {
  border-radius: 50%;
  position: absolute;
  top: 5px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .tag-notif {
    margin-left: -2px;
  }
}

.navbar {
  background: #2E363F !important;
}

.navbar-item {
  background-color: #2E363F;
  color: #afb8c3 !important;
}

.navbar-item.is-active {
  background-color: #f5f5f5 !important;
  color: #363636 !important;
}

.navbar-item:hover {
  background-color: #f5f5f5 !important;
  color: #363636 !important;
}

.navbar .is--brand:hover {
  background-color: #2E363F !important;
}

.navbar-brand-logo {
  max-height: 3rem !important;
  background-color: #fff;
  border-radius: .25em;
  padding: .25em;
}

.navbar-dropdown .navbar-item {
  background-color: #fff;
}

.navbar-burger {
  background-color: #2E363F !important;
  border: 0;
}

.navbar-burger span {
  background-color: #00d1b2;
}

.navbar-link figure img {
  border-radius: 50%;
  max-height: 2em;
}

.breadcrumb:not(:last-child) {
  margin-bottom: 0;
}

.aside {
  background: #2E363F;
  padding: 2em .2em 0 1em;
}

.aside a {
  color: #afb8c3;
}

.aside .menu-list li {
  margin-top: .5em;
}

.main {
  padding: 2em 1em 0 1em;
}

.menu-label {
  color: #00d1b2;
  margin-left: .5em;
}

.block {
  margin-top: .5em;
}

#sidebar {
  overflow: hidden;
  z-index: 3;
}

#sidebar .list-group {
  background-color: #333;
  min-height: 100vh;
  font-size: 16px;
}

#sidebar i {
  margin-right: 6px;
}

#sidebar .list-group-item {
  border-radius: 0;
  background-color: #333;
  color: #ccc;
  border-left: 0;
  border-right: 0;
  border-color: #2c2c2c;
  white-space: nowrap;
}

#sidebar .list-group-item:not(.collapsed) {
  background-color: #222;
}

#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \F0D7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
}

#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \F0DA";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item {
  padding-left: 20px;
}

#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
  padding-left: 30px;
}

#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

/* highlight active menu */

/* closed state */

/* open state */

/* level 1*/

/* level 2*/

/* level 3*/

@media (max-width: 768px) {
  #sidebar {
    min-width: 35px;
    max-width: 40px;
    overflow-y: auto;
    overflow-x: visible;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transform: translateX(-45px);
            transform: translateX(-45px);
    position: fixed;
    min-width: 35px;
    overflow: visible;
  }

  #sidebar.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  #sidebar::-webkit-scrollbar {
    width: 0px;
  }

  #sidebar .list-group {
    min-width: 35px;
    overflow: visible;
  }

  #sidebar .list-group .collapse.show,
  #sidebar .list-group .collapsing {
    position: relative;
    z-index: 1;
    width: 190px;
    top: 0;
  }

  #sidebar .list-group > .list-group-item {
    text-align: center;
  }

  #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
  #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
    display: none;
  }

  /* overlay sub levels on small screens */

  /* hide caret icons of top level when collapsed */
}

.collapse.show {
  visibility: visible;
}

.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

